.footer {
	padding: 30px 0;
	background-color: $primary-color-tint-1;

	p {
		margin-bottom: 0;
	}

	.icons-social {
		margin-bottom: 0;

		@media (min-width: $md) {
			display: flex;
			justify-content: flex-end;
		}
		@media (max-width: $md - 1) {
			margin-top: 15px;
		}

		.icon {
			color: $primary-color-tint-1;
		}
	}
}
