.footer {
	padding: 30px 0;
	background-color: $primary-color-tint-1;

	p {
		margin-bottom: 0;
	}

	.footer-links-social {
		margin-bottom: 0;
		
		@media (min-width: $md) {
			text-align: right;
		}

		li {
			&:not(:last-child) {
				margin-right: 25px;
			}
		}
	}
}
