.nav-toggle {
	position: relative;
	z-index: 10;
	display: flex;
	align-items: center;
	padding: 0;
	border: 0;
	background-color: transparent;
	cursor: pointer;
}

.nav-toggle-ham {
	position: relative;
	margin-right: 10px;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	border: solid 1px $white;
}

%ham-bars {
	position: absolute;
	height: 1px;
	width: 14px;
	background-color: $white;
}
.ham-bars {
	@extend %ham-bars;
	width: 11px;
	top: 50%;
	left: (30px - 16px) / 2;
	transition: 0.2s;

	&::before,
	&::after {
		content: '';
		@extend %ham-bars;
		left: 0;
		transition: 0.4s;
	}
	&::before {
		top: -5px;
	}
	&::after {
		top: 5px;
	}
}

.nav-toggle-text {
	font-size: 0.75em;
	color: $white;
	text-transform: uppercase;

	&::after {
		content: attr(data-text);
	}
}

.nav-items {
	padding: 0;
	margin-top: 100px;
	width: 100%;
	max-width: 500px;
	text-align: center;
	list-style: none;
}
.nav-item {
	padding: 10px 0;
	opacity: 0;
	transform: translateY(-30px);
	transition-duration: 0.4s;

	&:last-child {
		margin-bottom: 50px;
	}

	&:not(:last-child) {
		border-bottom: dashed 1px $primary-color-tint-1;
	}
}
.nav-link {
	font-family: $font-family-serif;
	font-size: 2.5em;
	font-weight: 700;
	transition: 0.25s;

	@media (max-width: $md - 1) {
		font-size: 1.5em;
	}
}
.nav-button {
	margin-top: 15px;
	padding: 15px 40px;
	display: inline-block;
	background-size: 100% 200%;
	background-position: 0 100%;
	background-repeat: no-repeat;
	&:hover {
		background-position: 0 0;
	}
}

.nav-wrapper {
	@extend %full-page-curtain;
	background-color: $white;
}

body:not(.nav-toggled) {
	.nav-toggle {
		&:hover {
			.ham-bars {
				width: 16px;

				&::before,
				&:after {
					width: 12px;
				}
			}
		}
	}
}


// NAV IS TOGGLED
// *******************************

.nav-toggled {
	overflow: hidden;

	.nav-wrapper {
		@extend %full-page-curtain-active;
	}

	.nav-item {
		opacity: 1;
		transform: translateY(0);

		@for $i from 1 through 5 {
			&:nth-child(#{$i}) {
				transition-delay: $i / 6 * 1s;
			}
		}
	}

	.nav-toggle-text {
		color: $primary-color;

		&::after {
			content: attr(data-text-toggle);
		}
	}
	.nav-toggle-ham {
		border-color: $primary-color;
	}
	.ham-bars {
		width: 14px;
	}
	.ham-bars::before,
	.ham-bars::after {
		top: 0;
		background-color: $primary-color
	}
	.ham-bars::before {
		transform: rotate(45deg);
	}
	.ham-bars::after  {
		transform: rotate(-45deg);
	}

	.nav-toggle {
		&:hover {
			.ham-bars {
				transform: rotate(90deg)
			}
		}
	}

	.gbph-fill {
		fill: $primary-color;
	}
	.gbph-box-stroke {
		stroke: $primary-color;
	}
}


// NAV IS SCROLLED
// *******************************
.header { 
	perspective: 2000px;
	&:before {
		@include position(absolute, 0px 0px 0px 0px);
		content: '';
		display: block;
		border-bottom: solid 0px $secondary-color;
		-webkit-transition: 0.6s cubic-bezier(.8,.1,.35,1); //safari, dang
		transition: 0.6s cubic-bezier(.8,.1,.35,1.6);
		transform: rotateX(-90deg);
		transform-origin: 50% 0%;
	}
	.logo {
		transition: 0.6s ease-out;
	}
}
.nav-scrolled {
	padding-bottom: 15px;
	&:before {
		border-bottom: solid 2px $secondary-color;
		background-color: rgba($white, 0.95);
		transform: rotateX(0deg);
	}

	.logo {
		-webkit-transition: 0.9s cubic-bezier(.8,.1,.35,1); //safari, dang
		transition: 0.9s cubic-bezier(.8,.1,.35,1.6);
		height: 60px;

		@media (max-width: $md - 1) {
			height: 45px;
		}
	}

	.gbph-fill {
		fill: $primary-color;
	}
	.gbph-box-stroke {
		stroke: $primary-color;
	}

	.nav-toggle-text {
		color: $primary-color;
	}
	.nav-toggle-ham {
		border-color: $primary-color;
	}
	.ham-bars,
	.ham-bars::before,
	.ham-bars::after {
		background-color: $primary-color
	}
}



// MINI SUB NAV
// *******************************

.nav-mini {
	width: 100%;
	counter-reset: navnum;
}

.nav-mini-list {
	display: flex;
	align-items: stretch;
	overflow-x: auto;
}
.nav-mini-item {
	position: relative;
	flex: 1 20%;
	background-color: $white;
	text-transform: uppercase;
	font-weight: 400;

	@media (max-width: $md - 1) {
		min-width: 200px;
	}

	&::before {
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: $secondary-color;
		transition: 0.4s;
		pointer-events: none;
	}

	&:hover {
		&::before {
			height: 100%;
		}
	}
	
	+ .nav-mini-button {
		margin-left: 20px;
	}
}

.nav-mini-link {
	position: relative;
	z-index: 2;
	display: block;
	padding: 15px;
	font-size: 0.875em;

	&::before {
		counter-increment: navnum;
		content: '0' counter(navnum);
		display: block;
	}
	
	&:focus,
	&:hover {
		color: $primary-color;
	}
}

.nav-mini-button {
	align-self: center;
}