* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html, body {
  font-size: 14px;
}

// body {
//   font-family: $primary-font-sans-serif;
//   color: $grey-dark-1;
// }