.swiper {
	&-container {
		width: 100%;
		height: 300px;
		margin-left: auto;
		margin-right: auto;
	}
	&-slide {
		background-size: cover;
		background-position: center;
	}
	&-button {
		&-next, &-prev {
			position: static;
			display: inline-block;
			background-image: none;
			width: auto;
			height: auto;
			margin: 0;
			.material-icons {
				font-size: 2rem;
				line-height: inherit;
				transition: 0.3s ease-in-out;
			}
		}
		&-next {
			margin-left: 0.4375rem;
			&:hover .material-icons {
				transform: translateX(5px);
			}
		}
		&-prev {
			margin-right: 0.4375rem;
			&:hover .material-icons {
				transform: translateX(-5px);
			}
		}
	}
	&-pagination {
		position: static;
		display: inline-block;
		&-custom {
			width: auto;
		}
	}
	&-no-swiping {
		cursor: initial;
	}
}

.gallery {
	&-large {
		.gallery-top {
		}
		.gallery-images {
			height: 400px;
			width: 100%;
		}
		.gallery-bottom {
			position: relative;
			top: -72px;
			margin-bottom: -72px;
			z-index: 10;
		}
		.card {
			border: 0;
			border-radius: 0;
			&-header {
				font-size: 0.875em;
			}
			&-header, &-block {
				background-color: $primary-color-tint-2;
			}
		}
		.gallery-cards {
			box-sizing: border-box;
			height: 200px;
			padding: 10px 0;
			.swiper-slide {
				width: 100%;
				height: 100%;
				background-color: $primary-color-tint-2;
			}
		}
	}

	&-small {
		.card {
			&-header {
				border: 0;
				border-radius: 0;
				padding: 0;
				margin-bottom: 1.1875rem;
				background: none;
			}
			&-image {
				width: 100%;
				margin-bottom: 1.1875rem;
			}
		}
		.swiper {
			&-container {
				height: auto;
				overflow: visible;
			}
			&-slide {
				max-width: 400px;
			}
		}
		.category-label {
			margin-bottom: 0.1875rem;
		}
		.gallery-controls {
			margin-top: 1.1875rem;
		}
	}
}