.swiper {
	&-container {
		width: 100%;
		height: 300px;
		margin-left: auto;
		margin-right: auto;
	}
	&-slide {
		background-size: cover;
		background-position: center;
	}
	&-button {
		&-next, &-prev {
			position: static;
			display: inline-block;
			background-image: none;
			width: auto;
			height: auto;
			margin: 0;
			
			.arrow {
				transition: 0.3s ease-in-out;
			}

			&:focus {
				outline: none;
			}
			&:focus, 
			&:hover {
				.arrow {
					color: $primary-color-dark-1;
				}
			}
		}
		&-next {
			margin-left: 0.4375rem;
			&:hover .arrow {
				transform: translateX(5px);
			}
		}
		&-prev {
			margin-right: 0.4375rem;
			&:hover .arrow {
				transform: rotateY(180deg) translateX(5px);
			}
		}
	}
	&-pagination {
		position: static;
		display: inline-block;
		&-custom {
			width: auto;
		}
	}
	&-no-swiping {
		cursor: initial;
	}
}

.gallery-large {
	.gallery-top {
	}
	.gallery-images {
		height: 400px;
		width: 100%;

		.swiper-image {
			height: 100%;
			width: 100%;
			background-size: 100%;
			background-position: center;
			background-color: $primary-color-tint-3;
			transition: 0.4s;

			@media (max-width: $lg - 1) {
				background-size: cover;
			}
		}
	}
	.gallery-bottom {
		position: relative;
		top: -72px;
		margin-bottom: -72px;
		z-index: 10;
	}
	.card {
		border: 0;
		border-radius: 0;
		&-header {
			font-size: 0.875em;
		}
		&-header, &-block {
			background-color: $primary-color-tint-2;
			transition: 0.35s;
		}
	}
	.gallery-cards {
		box-sizing: border-box;
		height: 200px;
		padding: 10px 0;
		.swiper-slide {
			width: 100%;
			height: 100%;
			opacity: 0 !important;
			// transition: 0.35s;
			&-active {
				opacity: 1 !important;
			}
		}
	}

	.card-title a {
		transition: 0.2s;
		&:hover {
			color: $primary-color-dark-1;
		}
	}

	&:hover {
		@media (min-width: $lg) {
			.swiper-slide-active .swiper-image {
				background-size: 105%;
			}
		}
		.card-header,
		.card-block {
			background-color: $secondary-color;
		}
		.card-title a {
			border-bottom: 1px dashed;
		}
	}
}

.gallery-small {
	.card {
		&-header {
			border: 0;
			border-radius: 0;
			padding: 0;
			margin-bottom: 1.1875rem;
			background: none;
		}
		&-image {
			overflow: hidden;
			margin-bottom: 1.1875rem;
			background-color: $primary-color-tint-3;

			img {
				width: 100%;
				transition: 0.4s;
			}
		}
	}
	.swiper {
		&-container {
			height: auto;
			overflow: visible;
		}
		&-slide {
			padding: 5px;
			max-width: 400px;
			transition: 0.35s;

			@media (max-width: $sm - 1) {
				max-width: 300px;
			}

			.card-header a,
			.cta-link {
				transition: 0.2s;

				&:hover {
					color: $primary-color-dark-1;
				}
			}

			&:hover {
				background-color: $secondary-color;

				.card-image img {
					transform: scale(1.05);
				}
				.card-header a {
					border-bottom: 1px dashed;
				}
			}
		}
	}
	.category-label {
		margin-bottom: 0.1875rem;
	}
	.gallery-controls {
		margin-top: 1.1875rem;
	}
}

.gallery-grid {
	&-image {
		position: relative;
		height: 40vh;
		max-height: 300px;
		min-height: 100px;
		margin-bottom: 30px;
		background-color: $primary-color-tint-3;
		overflow: hidden;
		content: '';
		img {
			object-fit: cover;
			width: 100%;
			transition: 0.4s;
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: rgba($secondary-color,0.9);
			opacity: 0;
			transform: translateY(-100%);
			transition: 0.35s;
		}
		&::before {
			@include icon();
			content: 'search';
			position: absolute;
			z-index: 2;
			top: 50%;
			left: 50%;
			font-size: 2.5em;
			color: $primary-color;
			opacity: 0;
			transform: translate(-50%, -100%);
			transition: 0.35s;
		}

		&:hover {
			img {
				transform: scale(1.05);
			}
			&::after {
				opacity: 1;
				transform: translateY(0);
			}
			&::before {
				opacity: 1;
				transform: translate(-50%, -50%);
			}
		}
	}
	// end &-image
	&-display {
		@extend %full-page-curtain;
    padding: 15px 30px 60px 30px;
		background-color: rgba($primary-color, 0.95);

		&-open .gallery-grid-display {
			@extend %full-page-curtain-active;
			z-index: 101;
		}

		&-close {
			@include position(fixed, 15px auto auto 30px);
			z-index: 101;
			color: $secondary-color;
			i {
				font-size: 1.875em;
			}
			&:hover, &:focus {
				color: $secondary-color-tint-1;
			}
		}

		.swiper {
			&-container, &-slide {
				width: 100%;
				height: 100%;
			}
			&-slide {
				img {
					width: auto;
					left: auto !important;
					top: auto !important;
					height: 100%;
				}
			}

			&-button {
				&-next, &-prev {
					position: absolute;
					display: block;
					left: auto !important;
					top: 50% !important;
					color: $secondary-color;
				}
			}

			&-pagination {
				@include position(fixed, auto auto 15px 0px);
				display: block;
				left: auto !important;
				top: auto !important;
				width: 100%;
				color: $white;
			}
		}
		// end .swiper
		.parallax-wrapper {
			@include position(absolute, 0px 0px 0px 0px);
			display: flex;
			justify-content: center;
		}
	}
	// end &-display
}

.arrow {
	height: 22px;
	width: 22px;
	color: $primary-color;

	&-left {
		transform: rotateY(180deg);
	}
	&-head {
		fill: currentColor;
	}
	&-line {
		fill: none;
		stroke: currentColor;
		stroke-linecap: square;
		stroke-miterlimit: 10;
		stroke-width: 1px;
	}
}