/**
 * @stylesheet modules/_hero.scss Hero
 * @parent style
 *
 * Above the fold "hero" layout styles.
 */

.hero {
	position: relative;
	padding-top: 270px;
	padding-bottom: 30px;
	overflow: hidden;
	background-color: $white;

	@media (max-width: $md - 1) {
		padding-top: 200px;
	}

	@media (max-width: $sm - 1) {
		padding-top: 150px;
	}

	.hero-image {
		position: absolute; 
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		transform-origin: 50% 50%;
		background-color: $primary-color-tint-3;
		background-size: cover;
		background-position: center;
	}

	.hero-block {
		padding: 60px 75px;
		background-color: $secondary-color;

		@media (max-width: $md - 1) {
			padding: 40px 50px;
		}
		@media (max-width: $sm - 1) {
			padding: 30px 20px;
		}
	}

	.subheader {
		display: block;
		margin-bottom: 1.75em;

		@media (max-width: $sm - 1) {
			margin-bottom: 1em;
		}
	}

	.icons-social {
		.icon {
			color: $secondary-color;
		}
	}

  /**
   * @styles hero-large Large hero
   *
   * Call to action block and parallax banner image w/ mini-nav.
   * @demo demos/content/hero-large.html
   */
	&-large {
		padding-bottom: 50px;
		background-color: $primary-color;

		.nav-mini {
			margin-top: 250px;

			@media (max-width: $md - 1) {
				margin-top: 150px;
			}

			@media (max-width: $sm - 1) {
				margin-top: 100px;
			}
		}
	}

  /**
   * @styles hero-small Small hero
   *
   * Call to action block and parallax banner image w/o mini-nav.
   * @demo demos/content/hero-small.html
   */
	&-small {
		padding-bottom: 0;

		.hero-image {
			height: 480px;

			@media (max-width: $md - 1) {
				height: 270px;
			}

			@media (max-width: $sm - 1) {
				height: 170px;
			}
		}
	}

  /**
   * @styles hero-center Center hero
   *
   * Centered call to action block and banner image w/o mini-nav.
   * @demo demos/content/hero-center.html
   */
  &-center {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    min-height: 280px;
    height: calc(100% - 88px);

    .container > .row {
      height: 100%;
    }

    .hero-block {
      opacity: 0;
      animation: flipInX 1s 0.5s;
      animation-fill-mode: both;
    }

    @media (max-width: $md - 1) {
      height: calc(100% - 128px);
    }
  }
}