.hero {
	position: relative;
	padding-top: 270px;
	padding-bottom: 30px;
	overflow: hidden;
	background-color: $primary-color;

	@media (max-width: $md - 1) {
		padding-top: 200px;
	}

	@media (max-width: $sm - 1) {
		padding-top: 150px;
	}

	.hero-image {
		position: absolute; 
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		transform-origin: 50% 50%;
		background-size: cover;
		background-position: center;
	}

	.hero-block {
		padding: 60px 75px;
		background-color: $secondary-color;

		@media (max-width: $md - 1) {
			padding: 40px 50px;
		}
		@media (max-width: $sm - 1) {
			padding: 30px 20px;
		}
	}

	.subheader {
		display: block;
		margin-bottom: 2em;
	}

	&-large {
		padding-bottom: 50px;

		.nav-mini {
			margin-top: 250px;

			@media (max-width: $md - 1) {
				margin-top: 150px;
			}

			@media (max-width: $sm - 1) {
				margin-top: 100px;
			}
		}
	}

	&-small {
		.hero-image {
			height: 480px;
		}
	}
}