.checkmark {
	margin-bottom: 20px;
	height: 60px;
	width: 60px;

	.checkmark-path {
		fill: none;
		stroke: $primary-color;
		stroke-dasharray: 150;
		stroke-dashoffset: 150;
		animation-name: animateDashOff;
		animation-duration: 1s;
		animation-fill-mode: forwards;
		animation-timing-function: ease-out;
	}
	.checkmark-check {
		animation-delay: 0.8s;
	}
}

@keyframes animateDashOff {
	from {
		stroke-dashoffset: 150;
	}
	to {
		stroke-dashoffset: 0;
	}
}