label {
	font-size: 0.75em;
	font-weight: 500;
	text-transform: uppercase;
}
.form-fancy {
	padding-left: 0;
	padding-right: 0;
	border: none;
	border-bottom: solid 2px $grey;
	border-radius: 0;
	background-color: transparent;
	font-size: 1.5em;

	&:focus {
		border-color: $secondary-color;
		background-color: transparent;
	}
}

textarea.form-fancy {
	resize: none;
}