::selection {
	background: $primary-color;
	color: $white;
	text-shadow: none;
}
::-moz-selection {
	background: $primary-color;
	color: $white;
	text-shadow: none;
}
::-webkit-selection {
	background: $primary-color;
	color: $white;
	text-shadow: none;
}
