body {
	counter-reset: modulenum;
}

.module-container {
	padding-top: 100px;
	padding-bottom: 100px;

	&:nth-child(odd) {
		background-color: $grey-tint-3;
	}

	.giant-number {
		&.counter {
			&::before {
				counter-increment: modulenum;
				content: '0' counter(modulenum);
			}
		}
	}

	.module-header {
		margin-top: 2.5rem;
		margin-bottom: 1.875rem;
	}

	.module-intro {
		margin-bottom: 1.875rem;
	}
}