body {
	counter-reset: modulenum;
}

.module-container {
	padding-top: 100px;
	padding-bottom: 100px;

	&:nth-child(odd) {
		background-color: $grey-tint-2;
	}

	.giant-number {
		&.counter {
			&::before {
				counter-increment: modulenum;
				content: '0' counter(modulenum);
			}
		}
	}

	.module-header {
		margin-top: 3rem;
		margin-bottom: 2rem;
	}

	.module-intro {
		margin-bottom: 2rem;
	}
}