// GLOBAL

h1,
.header-1 {
	font-size: 2.5em;
	line-height: 1.2em;
	font-family: $font-family-serif;
	font-weight: 700;
	color: $primary-color;
}

h2,
.header-2 {
	font-size: 1.875em;
	line-height: 1.2em;
	font-family: $font-family-sans-serif;
	font-weight: 400;
	color: $primary-color;
}

h3,
.header-3 {
	font-size: 1.5em;
	line-height: 1.17em;
	font-family: $font-family-sans-serif;
	font-weight: 400;
	color: $primary-color;
}

h4,
.header-4 {
	font-size: 1.25em;
	line-height: 1.17em;
	font-family: $font-family-sans-serif;
	font-weight: 400;
	color: $primary-color;
}

h5,
.header-5 {
	font-size: 1.125em;
	line-height: 1.15em;
	font-family: $font-family-sans-serif;
	font-weight: 400;
	color: $primary-color;
}

h6,
.header-6 {
	font-size: 1em;
	line-height: 1.15em;
	font-family: $font-family-sans-serif;
	font-weight: 700;
	color: $primary-color;
}

p {
	font-size: 0.875em;
	line-height: 1.57em;
	font-weight: 400;

	a {
		border-bottom: dashed 1px;

		&:hover {
			border-bottom: solid 1px;
	}
	}
}

a {
	color: $primary-color;
	text-decoration: none;

	&:focus,
	&:hover {
		color: $secondary-color;
		text-decoration: none;
	}
}

blockquote, 
.blockquote {
	padding-left: 1rem;
	border-left: solid 1px $secondary-color;
	font-size: 1.875em;
	line-height: 1.33em;
	font-weight: 300;
	color: $primary-color-dark-1;
	
	cite,
	.cite {
		display: block;
		font-style: normal;
		font-size: 0.875rem;
		text-align: right;
	}
}

address {
	font-size: 0.875em;
}


// HEADERS

.subheader {
	font-size: 1.375em;
	line-height: 2em;
	font-family: $font-family-sans-serif;
	font-weight: 700;
	color: $primary-color;
}


.footnote {
	font-size: 0.75em;
}

.giant-number {
	color: $grey-tint-1;
	font-size: 6.25em;
	font-family: $font-family-sans-serif;
	font-weight: 700;
}

.category-label {
	font-family: $font-family-sans-serif;
	font-size: 0.875rem;
	font-weight: 500;
	text-transform: uppercase;
	color: $grey-dark-1;
	display: block;
}

.cta-link {
	position: relative;
	&:before {
		@include icon();
		font-size: 1.5em;
		position: absolute;
		display: block;
		right: 100%;
		content: 'keyboard_arrow_right';
	}
}