@font-face {
  font-family: 'Font-Name';
  src: url('../fonts/font-name.eot');
  src: url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
       url('../fonts/font-name.woff') format('woff'),
       url('../fonts/font-name.ttf') format('truetype'),
       url('../fonts/font-name.svg#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
}


// GLOBAL

h1,
.header-1 {
	font-size: 2.86em;
	line-height: 1.2em;
	font-family: $font-family-serif;
	font-weight: 700;
	color: $primary-color;
}

h2,
.header-2 {
	font-size: 2.14em;
	line-height: 1.2em;
	font-family: $font-family-sans-serif;
	font-weight: 400;
	color: $primary-color;
}

h3,
.header-3 {
	font-size: 1.71em;
	line-height: 1.17em;
	font-family: $font-family-sans-serif;
	font-weight: 400;
	color: $primary-color;
}

h4,
.header-4 {
	font-size: 1.43em;
	line-height: 1.17em;
	font-family: $font-family-sans-serif;
	font-weight: 400;
	color: $primary-color;
}

h5,
.header-5 {
	font-size: 1.21em;
	line-height: 1.15em;
	font-family: $font-family-sans-serif;
	font-weight: 400;
	color: $primary-color;
}

h6,
.header-6 {
	font-size: 1em;
	line-height: 1.15em;
	font-family: $font-family-sans-serif;
	font-weight: 700;
	color: $primary-color;
}

p {
	line-height: 1.57em;
	font-weight: 400;

	a {
		border-bottom: dashed 1px;

		&:hover {
			border-bottom: solid 1px;
	}
	}
}

a {
	color: $primary-color;
	text-decoration: none;

	&:focus,
	&:hover {
		color: $primary-color-dark-1;
		text-decoration: none;
	}
}

blockquote, 
.blockquote {
	padding-left: 1em;
	border-left: solid 1px $primary-color;
	font-size: 2.14em;
	line-height: 1.33em;
	color: $primary-color-dark-1;
}


// HEADERS

.subheader {
	font-size: 1.57em;
	line-height: 2em;
	font-family: $font-family-sans-serif;
	font-weight: 700;
	color: $primary-color;
}


.footnote {
	font-size: 0.86em;
}