$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$sunglow: #fad030;
$sunglow-dark-1: darken($sunglow, 15%);
$sunglow-tint-1: lighten($sunglow, 15%);

$grey-dark-2: #39393a;
$grey-dark-1: #4a4a4a;
$grey: #979797;
$grey-tint-1: #cacaca;
$grey-tint-2: #eaeaea;
$grey-tint-3: #f6f6f6;
$white: #fff;

$roboto: "Roboto", Arial, sans-serif;
$georgia: Georgia, serif;


// BRAND SPECIFIC

$primary-color-dark-1: $grey-dark-2;
$primary-color: $grey-dark-1;
$primary-color-tint-1: $grey;
$primary-color-tint-2: $grey-tint-2;
$primary-color-tint-3: $grey-tint-3;

$secondary-color: $sunglow;
$secondary-color-dark-1: $sunglow-dark-1;
$secondary-color-tint-1: $sunglow-tint-1;

$font-family-sans-serif: $roboto;
$font-family-serif: $georgia;

