%full-page-curtain {
	display: flex;
	justify-content: center;
	position: absolute;
	left: 0;
	top: -100vh;
	padding-left: 15px;
	padding-right: 15px;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	visibility: hidden;
	transition: 0.4s;
}

%full-page-curtain-active {
	position: fixed;
	z-index: 5;
	top: 0;
	opacity: 1;
	visibility: visible;
	overflow-y: auto;
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    transform: perspective(400px);
    opacity: 1;
  }
}