<footer class="footer" role="contentinfo">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<p>All rights reserved Company 2017 | <a href="#">Privacy</a> | <a href="#">Terms of use</a></p>
			</div>
			<div class="col-md-4">
				<ul class="icons-social list-inline">
					<li class="icon-item"><a href="#"><span class="icon icon-twitter"></span></a></li>
					<li class="icon-item"><a href="#"><span class="icon icon-facebook"></span></a></li>
					<li class="icon-item"><a href="#"><span class="icon icon-linkedin"></span></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>