<section class="hero{{ " hero-large" if heroLarge }}" style="background-image: url('{{ heroBg }}')">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-9">
				<div class="hero-block">
					<h1>We build high efficiency homes.</h1>
					<span class="subheader">Let's build one together</span>
					<a href="" class="btn btn-primary">Get Started</a>
				</div>
			</div>
		</div>
	</div>

	<div class="nav-mini">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="nav-mini-list list-inline">
						<li class="nav-mini-item"><a class="nav-mini-link" href="#">Our approach</a></li>
						<li class="nav-mini-item"><a class="nav-mini-link" href="#">Our projects</a></li>
						<li class="nav-mini-item"><a class="nav-mini-link" href="#">Our blog</a></li>
						<li class="nav-mini-item"><a class="nav-mini-link" href="#">Our services</a></li>
						<li class="nav-mini-item"><a class="nav-mini-link" href="#">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>