<section class="hero{{ " hero-large" if heroBlock.large }}{{ " hero-small" if heroBlock.small }}{{ " hero-center" if heroBlock.center }}">
	<div id="hero-image" class="hero-image" style="background-image: url('{{ heroBlock.bg }}')"></div>
	<div class="container">
		<div class="row{{ " align-items-center justify-content-center" if heroBlock.center }}">
			<div class="{{ "col-lg-7 col-md-9" if heroBlock.large }}{{ "col-xl-5 col-lg-7 col-md-9" if heroBlock.small }}{{ "col-lg-6 col-md-8 col-sm-10" if heroBlock.center }}">
				<div id="hero-block" class="hero-block">
					<h1>{{ heroBlock.header }}</h1>
					<span class="subheader">{{ heroBlock.subheader }}</span>
					{% if heroBlock.subtext %}<p>{{ heroBlock.subtext }}</p>{% endif %}
					{% if heroBlock.cta %}<a href="" class="btn btn-primary">{{ heroBlock.cta }}</a>{% endif %}
					{% if heroBlock.share %}
					<div class="icons-social">
						<span class="icons-social-text">Share</span>
						<ul class="icons-social-items list-inline">
							<li class="icon-item"><a href="#"><span class="icon icon-twitter"></span></a></li>
							<li class="icon-item"><a href="#"><span class="icon icon-facebook"></span></a></li>
							<li class="icon-item"><a href="#"><span class="icon icon-linkedin"></span></a></li>
						</ul>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	
	{% if heroBlock.large %}
	<div class="nav-mini">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="nav-mini-list list-inline">
						{% for block in contentBlocks %}
						<li class="{% if block.feature %}nav-mini-button{% else %}nav-mini-item{% endif %}">
							<a href="{{ ('/' if block.feature else '#') + (block.title | slug) }}" class="{% if block.feature %}btn btn-secondary{% else %}nav-mini-link{% endif %}">{{ block.modules[0].title if block.modules[0].title else block.title }}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
</section>