---
heroLarge: true
heroBg: assets/img/house-banner.jpg

galleryTitle: About this project
gallerySlides:
  - image: assets/img/gallery-house-1.jpg
    heading: En sit amet eros sit amet odio efficitur convallis
    body: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquet vel nisi et aliquet. Phasellus vitae dignissim risus, at dignissim erat.
    button: Learn more
  - image: assets/img/gallery-house-1.jpg
    heading: Efficitur convallis en sit amet eros sit amet odio
    body: Aliquam aliquet vel nisi et aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus, at dignissim erat vitae dignissim risus.
    button: Learn more
  - image: assets/img/gallery-house-1.jpg
    heading: En amet odio efficitur sit amet eros sit convallis
    body: Lorem ipsum, consectetur adipiscing elit dolor sit amet. Aliquam aliquet vel nisi et aliquet. Phasellus, at dignissim erat vitae dignissim risus.
    button: Learn more
---

{% extends "layout.html" %}

{% block content %}
	
{% include "partials/header.html" %}

{% include "partials/hero.html" %}

<section class="module-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
				<span class="giant-number counter"></span>
			</div>
			<div class="col-sm-10">
				<h2 class="module-header header-1">Our Approach</h2>
				<div class="row module-intro">
					<div class="col-md-5">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquet vel nisi et aliquet. Phasellus vitae dignissim risus, at dignissim erat. Suspendisse potenti.</p>
					</div>
					<div class="col-md-5">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquet vel nisi et aliquet. Phasellus vitae dignissim risus, at dignissim erat. Suspendisse potenti.</p>
					</div>
				</div>
				<blockquote>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquet vel nisi et aliquet. Phasellus vitae dignissim risus, at dignissim erat. 
					<cite>- Client Name</cite>
				</blockquote>
			</div>
		</div>
	</div>
</section>

<section class="module-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
				<span class="giant-number counter"></span>
			</div>
			<div class="col-sm-10">
				<h2 class="module-header header-1">Our Projects</h2>
				<div class="row module-intro">
					<div class="col-md-5">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquet vel nisi et aliquet. Phasellus vitae dignissim risus, at dignissim erat. Suspendisse potenti.</p>
					</div>
					<div class="col-md-5">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquet vel nisi et aliquet. Phasellus vitae dignissim risus, at dignissim erat. Suspendisse potenti.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				{% include "modules/gallery-large.html" %}
			</div>
		</div>
	</div>
</section>

<section class="module-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="swiper-container gallery-top">
					<div class="swiper-wrapper">
						<div class="swiper-slide" style="background-image:url({{ galleryBase }}-house-1.jpg)"></div>
						<div class="swiper-slide" style="background-image:url({{ galleryBase }}-house-1.jpg)"></div>
						<div class="swiper-slide" style="background-image:url({{ galleryBase }}-house-1.jpg)"></div>
					</div>
					<div class="swiper-button-next swiper-button-white"></div>
					<div class="swiper-button-prev swiper-button-white"></div>
				</div>
				<div class="swiper-container gallery-thumbs">
					<div class="swiper-wrapper">
						<div class="swiper-slide" style="background-image:url({{ galleryBase }}-house-1.jpg)"></div>
						<div class="swiper-slide" style="background-image:url({{ galleryBase }}-house-1.jpg)"></div>
						<div class="swiper-slide" style="background-image:url({{ galleryBase }}-house-1.jpg)"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="module-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
				<span class="giant-number counter"></span>
			</div>
			<div class="col-sm-10">
				<h2 class="module-header header-1">Our Blog</h2>
				<div class="row module-intro">
					<div class="col-md-5">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquet vel nisi et aliquet. Phasellus vitae dignissim risus, at dignissim erat. Suspendisse potenti.</p>
					</div>
					<div class="col-md-5">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquet vel nisi et aliquet. Phasellus vitae dignissim risus, at dignissim erat. Suspendisse potenti.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="gallery-small">
					<div class="swiper-container">

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="module-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
				<span class="giant-number counter"></span>
			</div>
		</div>
	</div>
</section>

<section class="module-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
				<span class="giant-number counter"></span>
			</div>
			<div class="col-sm-10">
				<h2 class="module-header header-1">Our Contact</h2>
				<div class="row module-intro">
					<div class="col-md-5">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquet vel nisi et aliquet. Phasellus vitae dignissim risus, at dignissim erat. Suspendisse potenti.</p>
					</div>
					<div class="col-md-5">
						<address>
							<span class="icon"></span><span>1211 Mackenzie Road, Port Elgin, Ontario</span>
							<span class="icon"></span><span>519 483-1199</span>
							<span class="icon"></span><span><a href="mailto:"">info@companyname.com</a></span>
						</address>
					</div>
				</div>
				
				<form>
					<div class="row">
						<div class="col-md-5">
							<div class="form-group">
								<label for="">First name</label>
								<input type="text" class="form-control form-fancy" placeholder="John"/>
							</div>
						</div>
						<div class="col-md-5">
							<div class="form-group">
								<label for="">Last name</label>
								<input type="text" class="form-control form-fancy" placeholder="Smith"/>
							</div>
						</div>
						<div class="col-md-5">
							<div class="form-group">
								<label for="">Email</label>
								<input type="text" class="form-control form-fancy" placeholder="johnsmith@mail.com"/>
							</div>
						</div>
						<div class="col-md-5">
							<div class="form-group">
								<label for="">Purpose</label>
								<input type="text" class="form-control form-fancy" placeholder="How can we help?"/>
							</div>
						</div>
						<div class="col-md-10">
							<div class="form-group">
								<label for="">Comments</label>
								<textarea class="form-control form-fancy" placeholder="Anything else?"></textarea>
							</div>
						</div>
						<div class="col-md-10 text-right">
							<input type="button" value="Submit" class="btn btn-primary"/>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

	
{% include "partials/footer.html" %}

{% endblock %}