---
heroBlock:
  large: true
  bg: assets/img/banner/home-banner.jpg
  header: We build high efficiency homes.
  subheader: Let's build one together
  cta: Get Started
contentBlocks:
  - title: Approach
    modules:
      - type: block-intro
        title: Our Approach
        text: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquet vel nisi et aliquet. Phasellus vitae dignissim risus, at dignissim erat. Suspendisse potenti.
      - type: blockquote
        blockquoteText: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquet vel nisi et aliquet. Phasellus vitae dignissim risus, at dignissim erat.
  - title: Projects
    modules:
      - type: block-intro
        title: Our Projects
        text: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquet vel nisi et aliquet. Phasellus vitae dignissim risus, at dignissim erat. Suspendisse potenti.
      - type: gallery-large
        title: About this project
        slides:
          - image: assets/img/gallery/gallery-house-1.jpg
            heading: En sit amet eros sit amet odio efficitur convallis
            body: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquet vel nisi et aliquet. Phasellus vitae dignissim risus, at dignissim erat.
            button: Learn more
          - image: assets/img/gallery/gallery-house-1.jpg
            heading: Efficitur convallis en sit amet eros sit amet odio
            body: Aliquam aliquet vel nisi et aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus, at dignissim erat vitae dignissim risus.
            button: Learn more
          - image: assets/img/gallery/gallery-house-1.jpg
            heading: En amet odio efficitur sit amet eros sit convallis
            body: Lorem ipsum, consectetur adipiscing elit dolor sit amet. Aliquam aliquet vel nisi et aliquet. Phasellus, at dignissim erat vitae dignissim risus.
            button: Learn more
  - title: Blog
    modules:
      - type: block-intro
        title: Our Blog
        text: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquet vel nisi et aliquet. Phasellus vitae dignissim risus, at dignissim erat. Suspendisse potenti.
      - type: gallery-small
        slides:
          - image: assets/img/gallery/gallery-house-1.jpg
            heading: En sit amet eros sit amet odio efficitur convallis 
            body: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquet vel nisi et aliquet. Phasellus vitae dignissim risus, at dignissim erat.
            button: Learn more
          - image: assets/img/gallery/gallery-house-1.jpg
            heading: En sit amet eros sit amet odio efficitur convallis 
            body: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquet vel nisi et aliquet. Phasellus vitae dignissim risus, at dignissim erat.
            button: Learn more
          - image: assets/img/gallery/gallery-house-1.jpg
            heading: En sit amet eros sit amet odio efficitur convallis 
            body: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquet vel nisi et aliquet. Phasellus vitae dignissim risus, at dignissim erat.
            button: Learn more
          - image: assets/img/gallery/gallery-house-1.jpg
            heading: En sit amet eros sit amet odio efficitur convallis 
            body: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquet vel nisi et aliquet. Phasellus vitae dignissim risus, at dignissim erat.
            button: Learn more
  - title: Services
    modules:
      - type: block-intro
        title: Our Services
        text: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquet vel nisi et aliquet. Phasellus vitae dignissim risus, at dignissim erat. Suspendisse potenti.
      - type: gallery-small
        slides:
          - image: assets/img/gallery/gallery-house-1.jpg
            heading: Wall Contrsuction
            body: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquet vel nisi et aliquet. Phasellus vitae dignissim risus, at dignissim erat.
            button: Learn more
          - image: assets/img/gallery/gallery-house-1.jpg
            heading: Foundation
            body: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquet vel nisi et aliquet. Phasellus vitae dignissim risus, at dignissim erat.
            button: Learn more
          - image: assets/img/gallery/gallery-house-1.jpg
            heading: Mechanical
            body: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquet vel nisi et aliquet. Phasellus vitae dignissim risus, at dignissim erat.
            button: Learn more
          - image: assets/img/gallery/gallery-house-1.jpg
            heading: Magical
            body: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquet vel nisi et aliquet. Phasellus vitae dignissim risus, at dignissim erat.
            button: Learn more
  - title: Contact
    feature: true
    modules:
      - type: block-intro
        title: Our Contact
        text: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquet vel nisi et aliquet. Phasellus vitae dignissim risus, at dignissim erat. Suspendisse potenti.
        address: true
      - type: contact-form
---


{% extends "layout.html" %}

{% block content %}
  
{% include "partials/header.html" %}

{% include "partials/hero.html" %}

{% from "block.html" import renderContentBlock %}
{% for block in contentBlocks %}
{{ renderContentBlock(block) }}
{% endfor %}
  
{% include "partials/footer.html" %}

{% endblock %}