<div class="row">
	{% if module.noCounter %}
	<div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10">
	{% else %}
	<div class="col-sm-2">
		<span class="giant-number counter"></span>
	</div>
	<div class="col-sm-10">
	{% endif %}
		<h2 class="block-header header-1">{{ module.title }}</h2>
		{% if module.text %}
		<div class="row block-intro">
			<div class="col-lg-5 col-md-6">
				<p>{{ module.text }}</p>
			</div>
			<div class="col-lg-5 col-md-6">
				{% if module.address %}
				<address>
					<p><span class="material-icons icon">room</span>1211 Mackenzie Road, Port Elgin, Ontario</p>
					<p><span class="material-icons icon">phone</span>519 483-1199</p>
					<p><span class="material-icons icon">send</span><a href="mailto:">info@companyname.com</a></p>
				</address>
				{% else %}
				<p>{{ module.text }}</p>
				{% endif %}
			</div>
		</div>
		{% endif %}
	</div>
</div>