<div class="row">
	<div class="offset-lg-2 offset-md-1 col-md-10">
		<form>
			<div class="row">
				<div class="col-lg-5 col-sm-6">
					<div class="form-group">
						<label class="label-header" for="firstName">*First name</label>
						<input id="firstName" type="text" class="form-control form-fancy" placeholder="John"/>
						<span class="form-fancy-decor"></span>
					</div>
				</div>
				<div class="col-lg-5 col-sm-6">
					<div class="form-group">
						<label class="label-header" for="">*Last name</label>
						<input type="text" class="form-control form-fancy" placeholder="Smith"/>
						<span class="form-fancy-decor"></span>
					</div>
				</div>
				<div class="col-lg-5 col-sm-6">
					<div class="form-group">
						<label class="label-header" for="">Address</label>
						<input type="text" class="form-control form-fancy" placeholder="123 Streetname"/>
						<span class="form-fancy-decor"></span>
					</div>
				</div>
				<div class="col-lg-5 col-sm-6">
					<div class="form-group">
						<label class="label-header" for="">*Email</label>
						<input type="email" class="form-control form-fancy" placeholder="johnsmith@mail.com"/>
						<span class="form-fancy-decor"></span>
					</div>
				</div>
				<div class="col-lg-5 col-sm-6">
					<div class="form-group">
						<label class="label-header" for="">*Phone</label>
						<input type="tel" class="form-control form-fancy" placeholder="123.456.7890"/>
						<span class="form-fancy-decor"></span>
					</div>
				</div>
				<div class="col-lg-5 col-sm-6">
					<div class="form-group">
						<label class="label-header" for="">Looking to build or renovate?</label>
						<div class="form-fancy-radio">
							<div class="radio-block">
								<input type="radio" name="purposeBtn" id="radio1" class="radio-control"/>
								<label for="radio1" class="radio-label">Build</label>
							</div>
							<div class="radio-block">
								<input type="radio" name="purposeBtn" id="radio2" class="radio-control"/>
								<label for="radio2" class="radio-label">Renovate</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5 col-sm-6">
					<div class="form-group">
						<label class="label-header" for="">Estimated square footage of the build</label>
						<div class="input-group">
							<input type="number" class="form-control form-fancy" value="2000" min="100" step="100"/>
							<span class="form-fancy-decor"></span>
							<span class="input-group-addon">
								<span>sq<sup>2</sup></span>
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-5 col-sm-6">
					<div class="form-group">
						<label class="label-header" for="">Estimated budget</label>
						<div class="input-group">
							<span class="input-group-addon">$</span>
							<input type="number" class="form-control form-fancy" value="50" min="50" step="50"/>
							<span class="form-fancy-decor"></span>
						</div>
					</div>
				</div>
				<div class="col-lg-10 text-right">
					<input type="button" value="Submit" class="btn btn-primary"/>
				</div>
			</div>
		</form>
		<hr/>
		<div id="contact-map" class="contact-map" style="min-height: 400px;"></div>
    <script>
      function initMap() {
        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('contact-map'), {
          center: {lat: -34.397, lng: 150.644},
          scrollwheel: false,
          zoom: 8,
          styles: [
					  {
					    "featureType": "all",
					    "elementType": "labels.text.fill",
					    "stylers": [
					      {
					        "saturation": 36
					      },
					      {
					        "color": "#333333"
					      },
					      {
					        "lightness": 40
					      }
					    ]
					  },
					  {
					    "featureType": "all",
					    "elementType": "labels.text.stroke",
					    "stylers": [
					      {
					        "visibility": "on"
					      },
					      {
					        "color": "#ffffff"
					      },
					      {
					        "lightness": 16
					      }
					    ]
					  },
					  {
					    "featureType": "all",
					    "elementType": "labels.icon",
					    "stylers": [
					      {
					        "visibility": "off"
					      }
					    ]
					  },
					  {
					    "featureType": "administrative",
					    "elementType": "all",
					    "stylers": [
					      {
					        "visibility": "off"
					      }
					    ]
					  },
					  {
					    "featureType": "administrative",
					    "elementType": "geometry.fill",
					    "stylers": [
					      {
					        "color": "#fefefe"
					      },
					      {
					        "lightness": 20
					      }
					    ]
					  },
					  {
					    "featureType": "administrative",
					    "elementType": "geometry.stroke",
					    "stylers": [
					      {
					        "color": "#fefefe"
					      },
					      {
					        "lightness": 17
					      },
					      {
					        "weight": 1.2
					      }
					    ]
					  },
					  {
					    "featureType": "landscape",
					    "elementType": "geometry",
					    "stylers": [
					      {
					        "lightness": 20
					      },
					      {
					        "color": "#ececec"
					      }
					    ]
					  },
					  {
					    "featureType": "landscape.man_made",
					    "elementType": "all",
					    "stylers": [
					      {
					        "visibility": "on"
					      },
					      {
					        "color": "#f0f0ef"
					      }
					    ]
					  },
					  {
					    "featureType": "landscape.man_made",
					    "elementType": "geometry.fill",
					    "stylers": [
					      {
					        "visibility": "on"
					      },
					      {
					        "color": "#f0f0ef"
					      }
					    ]
					  },
					  {
					    "featureType": "landscape.man_made",
					    "elementType": "geometry.stroke",
					    "stylers": [
					      {
					        "visibility": "on"
					      },
					      {
					        "color": "#d4d4d4"
					      }
					    ]
					  },
					  {
					    "featureType": "landscape.natural",
					    "elementType": "all",
					    "stylers": [
					      {
					        "visibility": "on"
					      },
					      {
					        "color": "#ececec"
					      }
					    ]
					  },
					  {
					    "featureType": "poi",
					    "elementType": "all",
					    "stylers": [
					      {
					        "visibility": "on"
					      }
					    ]
					  },
					  {
					    "featureType": "poi",
					    "elementType": "geometry",
					    "stylers": [
					      {
					        "lightness": 21
					      },
					      {
					        "visibility": "off"
					      }
					    ]
					  },
					  {
					    "featureType": "poi",
					    "elementType": "geometry.fill",
					    "stylers": [
					      {
					        "visibility": "on"
					      },
					      {
					        "color": "#d4d4d4"
					      }
					    ]
					  },
					  {
					    "featureType": "poi",
					    "elementType": "labels.text.fill",
					    "stylers": [
					      {
					        "color": "#303030"
					      }
					    ]
					  },
					  {
					    "featureType": "poi",
					    "elementType": "labels.icon",
					    "stylers": [
					      {
					        "saturation": "-100"
					      }
					    ]
					  },
					  {
					    "featureType": "poi.attraction",
					    "elementType": "all",
					    "stylers": [
					      {
					        "visibility": "on"
					      }
					    ]
					  },
					  {
					    "featureType": "poi.business",
					    "elementType": "all",
					    "stylers": [
					      {
					        "visibility": "on"
					      }
					    ]
					  },
					  {
					    "featureType": "poi.government",
					    "elementType": "all",
					    "stylers": [
					      {
					        "visibility": "on"
					      }
					    ]
					  },
					  {
					    "featureType": "poi.medical",
					    "elementType": "all",
					    "stylers": [
					      {
					        "visibility": "on"
					      }
					    ]
					  },
					  {
					    "featureType": "poi.park",
					    "elementType": "all",
					    "stylers": [
					      {
					        "visibility": "on"
					      }
					    ]
					  },
					  {
					    "featureType": "poi.park",
					    "elementType": "geometry",
					    "stylers": [
					      {
					        "color": "#dedede"
					      },
					      {
					        "lightness": 21
					      }
					    ]
					  },
					  {
					    "featureType": "poi.place_of_worship",
					    "elementType": "all",
					    "stylers": [
					      {
					        "visibility": "on"
					      }
					    ]
					  },
					  {
					    "featureType": "poi.school",
					    "elementType": "all",
					    "stylers": [
					      {
					        "visibility": "on"
					      }
					    ]
					  },
					  {
					    "featureType": "poi.school",
					    "elementType": "geometry.stroke",
					    "stylers": [
					      {
					        "lightness": "-61"
					      },
					      {
					        "gamma": "0.00"
					      },
					      {
					        "visibility": "off"
					      }
					    ]
					  },
					  {
					    "featureType": "poi.sports_complex",
					    "elementType": "all",
					    "stylers": [
					      {
					        "visibility": "on"
					      }
					    ]
					  },
					  {
					    "featureType": "road.highway",
					    "elementType": "geometry.fill",
					    "stylers": [
					      {
					        "color": "#ffffff"
					      },
					      {
					        "lightness": 17
					      }
					    ]
					  },
					  {
					    "featureType": "road.highway",
					    "elementType": "geometry.stroke",
					    "stylers": [
					      {
					        "color": "#ffffff"
					      },
					      {
					        "lightness": 29
					      },
					      {
					        "weight": 0.2
					      }
					    ]
					  },
					  {
					    "featureType": "road.arterial",
					    "elementType": "geometry",
					    "stylers": [
					      {
					        "color": "#ffffff"
					      },
					      {
					        "lightness": 18
					      }
					    ]
					  },
					  {
					    "featureType": "road.local",
					    "elementType": "geometry",
					    "stylers": [
					      {
					        "color": "#ffffff"
					      },
					      {
					        "lightness": 16
					      }
					    ]
					  },
					  {
					    "featureType": "transit",
					    "elementType": "geometry",
					    "stylers": [
					      {
					        "color": "#f2f2f2"
					      },
					      {
					        "lightness": 19
					      }
					    ]
					  },
					  {
					    "featureType": "water",
					    "elementType": "geometry",
					    "stylers": [
					      {
					        "color": "#dadada"
					      },
					      {
					        "lightness": 17
					      }
					    ]
					  }
					]
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWioYrnIcLeRyOR5cvgRPji_xsNx4USos&amp;callback=initMap"
    async defer></script>
	</div>
</div>