<div class="row">
	<div class="offset-lg-2 offset-md-1 col-md-10">
		<form>
			<div class="row">
				<div class="col-lg-5 col-sm-6">
					<div class="form-group">
						<label class="label-header" for="firstName">*First name</label>
						<input id="firstName" type="text" class="form-control form-fancy" placeholder="John"/>
						<span class="form-fancy-decor"></span>
					</div>
				</div>
				<div class="col-lg-5 col-sm-6">
					<div class="form-group">
						<label class="label-header" for="">*Last name</label>
						<input type="text" class="form-control form-fancy" placeholder="Smith"/>
						<span class="form-fancy-decor"></span>
					</div>
				</div>
				<div class="col-lg-5 col-sm-6">
					<div class="form-group">
						<label class="label-header" for="">Address</label>
						<input type="text" class="form-control form-fancy" placeholder="123 Streetname"/>
						<span class="form-fancy-decor"></span>
					</div>
				</div>
				<div class="col-lg-5 col-sm-6">
					<div class="form-group">
						<label class="label-header" for="">*Email</label>
						<input type="email" class="form-control form-fancy" placeholder="johnsmith@mail.com"/>
						<span class="form-fancy-decor"></span>
					</div>
				</div>
				<div class="col-lg-5 col-sm-6">
					<div class="form-group">
						<label class="label-header" for="">*Phone</label>
						<input type="tel" class="form-control form-fancy" placeholder="123.456.7890"/>
						<span class="form-fancy-decor"></span>
					</div>
				</div>
				<div class="col-lg-5 col-sm-6">
					<div class="form-group">
						<label class="label-header" for="">Looking to build or renovate?</label>
						<div class="form-fancy-radio">
							<div class="radio-block">
								<input type="radio" name="purposeBtn" id="radio1" class="radio-control"/>
								<label for="radio1" class="radio-label">Build</label>
							</div>
							<div class="radio-block">
								<input type="radio" name="purposeBtn" id="radio2" class="radio-control"/>
								<label for="radio2" class="radio-label">Renovate</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5 col-sm-6">
					<div class="form-group">
						<label class="label-header" for="">Estimated square footage of the build</label>
						<div class="input-group">
							<input type="number" class="form-control form-fancy" value="2000" min="100" step="100"/>
							<span class="form-fancy-decor"></span>
							<span class="input-group-addon">
								<span>sq<sup>2</sup></span>
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-5 col-sm-6">
					<div class="form-group">
						<label class="label-header" for="">Estimated budget</label>
						<div class="input-group">
							<span class="input-group-addon">$</span>
							<input type="number" class="form-control form-fancy" value="50" min="50" step="50"/>
							<span class="form-fancy-decor"></span>
						</div>
					</div>
				</div>
				<div class="col-lg-10 text-right">
					<input type="button" value="Submit" class="btn btn-primary"/>
				</div>
			</div>
		</form>
	</div>
</div>