<div class="row">
	<div class="col-sm-12">
		<div class="gallery-grid">
			<div class="row">
				<!-- BEGIN GALLERY COLUMNS -->
				{% for slide in module.slides %}
				<div class="{{ slide.columns }}">
					<a href="#gallery-image_{{ loop.index }}" class="gallery-grid-image d-flex align-content-center">
						<img src="{{ slide.image }}" />
					</a>
				</div>
				{% endfor %}
				<!-- END GALLERY COLUMNS -->
			</div>
			<div class="gallery-grid-display">
				<a href="javascript:;" class="gallery-grid-display-close"><i class="material-icons">close</i></a>
		    <div class="swiper-container">
	        <div class="swiper-wrapper">
		        {% for slide in module.slides %}
            <div class="swiper-slide" data-hash="gallery-image_{{ loop.index }}">
            	<img src="{{ slide.image }}" />
            </div>
						{% endfor %}
	        </div>
					<div class="swiper-button-prev"><i class="material-icons">arrow_back</i></div>
					<div class="swiper-button-next"><i class="material-icons">arrow_forward</i></div>
	        <div class="swiper-pagination"></div>
		    </div>
			</div>
		</div>
	</div>
</div>