<div class="row">
	<div class="col-sm-12">
		<div class="gallery-small">
			<div class="row">
				<div class="col-sm-10 offset-sm-2">
						<!-- BEGIN GALLERY CARDS -->
						<div class="swiper-container gallery-cards">
							<div class="swiper-wrapper">
								{% for slide in module.slides %}
								<div class="swiper-slide">
									<div class="card-image">
										<img src="{{ slide.image }}" />
									</div>
									<div class="swiper-no-swiping">
										<span class="category-label">Category</span>
										<h3 class="card-header"><a href="#">{{ slide.heading }}</a></h3>
										<p>{{ slide.body }}</p>
										<p><a href="#" class="cta-link">{{ slide.button }}</a></p>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
						<!-- END GALLERY CARDS -->
				</div>
			</div>
			<div class="row align-items-center gallery-controls">
				<div class="col-sm-10 offset-sm-2">
					<div class="row align-items-center">
						<div class="col-lg-2 col-sm-3 col-6"> 
							<div class="swiper-pagination"></div>
						</div>
						<div class="col-lg-2 col-sm-3 col-6 text-right text-sm-left"> 
							<div class="swiper-button-prev">
								<svg class="arrow arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
									<use class="arrow-img" xlink:href="#arrow"/>
								</svg>
							</div>
							<div class="swiper-button-next">
								<svg class="arrow arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
									<use class="arrow-img" xlink:href="#arrow"/>
								</svg>
							</div>
						</div>
						<div class="col-lg-8 col-sm-6 col-12 text-center text-sm-left"> 
							<a href="#" class="btn btn-outline-primary">View all</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>