<div class="row">
	<div class="col-sm-12">
		<div class="gallery-grid">
			<div class="row">
				<!-- BEGIN GALLERY COLUMNS -->
				{% for slide in module.slides %}
				<div class="{{ slide.columns }}">
					<a href="javascript:;" class="gallery-grid-image d-flex align-content-center">
						<img src="{{ slide.image }}" />
					</a>
				</div>
				{% endfor %}
				<!-- END GALLERY COLUMNS -->
			</div>
			<div class="gallery-grid-display">
				<a href="javascript:;" class="gallery-grid-display-close">&times;</a>
			</div>
		</div>
	</div>
</div>