<div class="row">
	<div class="col-sm-12">
		<div class="gallery-grid">
			<div class="row">
				<!-- BEGIN GALLERY COLUMNS -->
				{% for slide in module.slides %}
				<div class="{{ slide.columns }}">
					<a href="#gallery-image_{{ loop.index }}" class="gallery-grid-image d-flex align-content-center">
						<img src="{{ slide.image }}" />
					</a>
				</div>
				{% endfor %}
				<!-- END GALLERY COLUMNS -->
			</div>
			<div class="gallery-grid-display">
				<a href="javascript:;" class="gallery-grid-display-close"><i class="material-icons">close</i></a>
		    <div class="swiper-container">
	        <div class="swiper-wrapper">
		        {% for slide in module.slides %}
            <div class="swiper-slide" data-hash="gallery-image_{{ loop.index }}">
            	<div class="parallax-wrapper" data-rotate-z="0.2">
	            	<img src="{{ slide.image }}" />
            	</div>
            </div>
						{% endfor %}
	        </div>
					<div class="swiper-button-prev">
						<svg class="arrow arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
							<use class="arrow-img" xlink:href="#arrow"/>
						</svg>
					</div>
					<div class="swiper-button-next">
						<svg class="arrow arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
							<use class="arrow-img" xlink:href="#arrow"/>
						</svg>
					</div>
	        <div class="swiper-pagination" data-move-x="0.5" data-move-y="0.1"></div>
		    </div>
			</div>
		</div>
	</div>
</div>