<div class="gallery-large">
	<div class="gallery-top">
		<!-- BEGIN GALLERY IMAGES -->
		<div class="swiper-container gallery-images">
			<div class="swiper-wrapper">
				{% for slide in gallerySlides %}
				<div class="swiper-slide" style="background-image:url({{ slide.image }})"></div>
				{% endfor %}
			</div>
		</div>
		<!-- END GALLERY IMAGES -->
	</div>
	<div class="row gallery-bottom">
		<div class="col-sm-10 offset-sm-1">
			<div class="card">
				<div class="card-header">
					<!-- BEGIN GALLERY CONTROLS -->
					<div class="row align-items-center">
						<div class="col-sm-8">
							<span>{{ galleryTitle }}</span>
						</div>
						<div class="col-sm-4">
							<div class="row align-items-center">
								<div class="col-sm-6 text-right"> 
									<div class="swiper-pagination"></div>
								</div>
								<div class="col-sm-6 text-right"> 
									<div class="swiper-button-prev"></div>
									<div class="swiper-button-next"></div>
								</div>
							</div>
						</div>
					</div>
					<!-- END GALLERY CONTROLS -->
				</div>
				<div class="card-block">
					<!-- BEGIN GALLERY CARDS -->
					<div class="swiper-container gallery-cards">
						<div class="swiper-wrapper">
 							{% for slide in gallerySlides %}
							<div class="swiper-slide">
								<h3>{{ slide.heading }}</h3>
								<p>{{ slide.body }}</p>
								<div class="text-right">
									<a href="#" class="btn btn-primary btn-outline">{{ slide.button }}</a>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
					<!-- END GALLERY CARDS -->
				</div>
			</div>
		</div>
	</div>
</div>